
header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
header h1{
    color: #ffffff !important;
    font-size: 3em;
    line-height: 3em;
}

nav {
    color: #ff6068;
}

.navbar li:first-child{
    font-weight: 600;
}

.navbar li{
    padding: 10px;
}

.home-button {

}

.selected{
    border-bottom: 1px solid  #cd0cc1;

}

.selected a{
    color: #cd0cc1;
}

.tag{
    background-color: black;
    font-size: 1em;
    color: white;
    border: none;
    padding: 6px;
    width: 60px;

}

.tag::placeholder{
    color: #cd0cc1;
}

form.add-tag-form{
    display: inline;
    padding: 6px;
}

footer{
    margin-top: 50px;
    height: 100px;
    background-color: black;
}
.main-header{
    background-color: rgba(0,0,0,0.6);
    background-image: url('../img/header.JPG');
    background-blend-mode: darken;
    background-attachment: fixed;


}

