<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!--- Basic Page Needs
   ================================================== -->
  <meta charset="utf-8">
  <title>Albert Sigman Projects</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
   ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- CSS
    ================================================== -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/layout.css">
  <link rel="stylesheet" href="assets/css/forms.css">


  <link rel="shortcut icon" href="favicon.png">
</head>
<body>
<nav class="navbar">

  <ul>
    <li><a href="/" class="home-button ">Home</a></li>
    <li><a href="/categories">All Categories</a></li>
    <li><a href="/clients">All Clients</a></li>
    <li><a href="/add-post">Add Post</a></li>
  </ul>
</nav>


    <main>


<form class="add-post" method="post" th:action="@{/add-category}" th:object="${post}">

<h1 class="post-input "> Create New Category </h1>

  <input name="catTitle" type="text" class="btn post-input " placeholder="Category Title">



<button class="btn post-input" type="submit" value="Submit">Submit </button>
</form>



    </main>
<footer>
  footer
</footer>

</body>
</html>
