<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!--- Basic Page Needs
   ================================================== -->
  <meta charset="utf-8">
  <title>Albert Sigman Projects</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
   ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- CSS
    ================================================== -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/layout.css">
  <link rel="stylesheet" href="assets/css/forms.css">


  <link rel="shortcut icon" href="favicon.png">
</head>
<body>
  <nav class="navbar">

    <ul>
      <li>Home</li>
      <li>All Categories</li>
      <li>All Clients</li>
      <li>All Hashtags</li>
    </ul>
  </nav>


    <main>


<form class="add-post" method="post" th:action="@{/add-post}" th:object="${post}">

<h1 class="post-label"> Create New Post </h1>

  <input th:field="*{postTitle}" type="text" class="post-input" placeholder="Post Title">

  <select id="categories" name="catTitle" class="post-input">
    <option th:each="category : ${categories}"
            th:text="${category.categoryTitle}"
            th:value="${category.getCategoryTitle()}"
    ></option>

    <option value="New Category">New </option>
  </select>


<input name="client" type="text" class="post-input" placeholder="Client">


<textarea th:field="*{content}" class="post-input text-area" placeholder="type the content here">
</textarea>
<button class="btn post-input" type="submit" value="Submit">Submit </button>
</form>



    </main>
<footer>
  footer
</footer>

</body>
</html>
