<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!--- Basic Page Needs
   ================================================== -->
  <meta charset="utf-8">
  <title>Albert Sigman Projects</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
   ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- CSS
    ================================================== -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/layout.css">


  <link rel="shortcut icon" href="favicon.png">
</head>
<body>
<nav class="navbar">

  <ul>
    <li><a href="/" class="home-button">Home</a></li>
    <li   class="selected"><a href="/categories">All Categories</a></li>
    <li><a href="/clients">All Clients</a></li>
    <li><a href="/add-post">Add Post</a></li>
  </ul>
</nav>
  <header>
    <h1  >All Categories</h1>
  </header>
    <main>

<section class="filter-section">
<nav class="blog-filter">

</nav>
</section>
<section class="blog-section" >


  <article th:each="cat : ${categories}" class="blog-index">
    <a th:href="@{'/' + ${cat.categoryTitle}}">
    <div class="hover-info">

    <div th:text="${cat.categoryTitle}" class="blog-title">
      title
    </div>
    <div  class="blog-author">

    </div>
    <div class="blog-snippet">
      </div>
      <div class="blog-categories">


        </div>
    </div>
    </a>
  </article>

  <article class="blog-index">
    <a href="/add-category">
    <div class="hover-info">

    <div class="blog-title">
      Add A Category
    </div>
    <div class="blog-author">

    </div>
    <div class="blog-snippet">
Click here to add a category
      </div>
      <div class="blog-categories">

        </div>
    </div>
    </a>
  </article>

  <a href="/" class="first-box">
    <h2>Back To All</h2>
  </a>





</section>


    </main>
<footer>
  footer
</footer>

</body>
</html>
