<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!--- Basic Page Needs
   ================================================== -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">

  <title>Albert Sigman Projects</title>

  <!-- Mobile Specific Metas
   ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- CSS
    ================================================== -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/layout.css">


  <link rel="shortcut icon" href="favicon.png">
</head>
<body>
  <nav class="navbar">

    <ul>
      <li>Home</li>
      <li>All Categories</li>
      <li>All Clients</li>
      <li>All Hashtags</li>
    </ul>
  </nav>
  <header>
Header
  </header>
    <main>

<section class="filter-section">
<nav class="blog-filter" >
  <ul>
    <a      th:each="category:${categories}"
            th:href="@{'/' + ${category.categoryTitle}}">
    <li
    th:text="${category.getCategoryTitle()}">



    </li>
    </a>
  </ul>
</nav>
</section>
<section class="blog-section">
  <div>
    <h2>All Projects</h2>
  </div>

  <article th:each="post : ${allPosts}"  class="blog-index">
    <a  th:href="@{'/' + ${post.getCategoryTitle()} + '/' + ${post.getPostTitle()}}">
    <div class="hover-info">

    <div th:text="${post.getPostTitle()}" class="blog-title">
    </div>
    <div class="blog-author" >
        <block  th:each="cli : ${post.getClients()}"  th:text="${cli.getClientName()} + '  '" >

        </block>


    </div>
    <div class="blog-snippet">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="blog-categories">
        <h6 th:text="${post.categoryTitle}">category</h6>
        </div>
    </div>
    </a>
  </article>

  <article class="blog-index">
    <a href="/add-post">
    <div class="hover-info">

    <div class="blog-title">
      Add A Post
    </div>
    <div class="blog-author">

    </div>
    <div class="blog-snippet">
Click here to add a post
      </div>
      <div class="blog-categories">

        </div>
    </div>
    </a>
  </article>




</section>


    </main>
<footer>
  footer
</footer>

</body>
</html>
