<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!--- Basic Page Needs
   ================================================== -->
  <meta charset="utf-8">
  <title>Albert Sigman Projects</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
   ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- CSS
    ================================================== -->
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="../../assets/css/layout.css">


  <link rel="shortcut icon" href="favicon.png">
</head>
<body>
<nav class="navbar">

  <ul>
    <li><a href="/" class="home-button">Home</a></li>
    <li class="selected"><a href="/categories">All Categories</a></li>
    <li><a href="/clients">All Clients</a></li>
    <li><a href="/add-post">Add Post</a></li>
  </ul>
</nav>
  <header class="blog-detail-header">
    <h1 th:text="${clientInfo.getClientName()} + ' Projects'"></h1>
  </header>
    <main>

<section class="filter-section">
<nav class="blog-filter">

</nav>
</section>
<section class="blog-section" >

  <a href="/" class="first-box">
      <h2 th:text="${clientInfo.getClientName()} + ' Projects'"></h2>
  </a>


  <article th:each="projects : ${postInfo}" class="blog-index">
    <a th:href="@{'/' + ${projects.getCategoryTitle()} + '/' + ${projects.getPostTitle()}}">
    <div class="hover-info">

    <div th:text="${projects.postTitle}" class="blog-title">
      title
    </div>
    <div  class="blog-author">
      <block th:each="clients : ${projects.getClients()}"
      th:text="${clients.getClientName()} + '  ' " >
      </block>

    </div>
    <div th:text="${projects.getContent()}" class="blog-snippet">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="blog-categories">
        <block><h6 th:text="${projects.getCategoryTitle()}"></h6>
        </block>
        </div>
    </div>
    </a>
  </article>

  <article class="blog-index">
    <a href="/add-post">
    <div class="hover-info">

    <div class="blog-title">
      Add A Post
    </div>
    <div class="blog-author">

    </div>
    <div class="blog-snippet">
Click here to add a post
      </div>
      <div class="blog-categories">

        </div>
    </div>
    </a>
  </article>

  <a href="/" class="first-box">
    <h2>Back To All</h2>
  </a>





</section>


    </main>
<footer>
  footer
</footer>

</body>
</html>
